html, body {
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
}


#app {
   width: 100vw;
    height: 100vh;
}

hr {
    margin: 30px 0px;
}

escode-editor {
    box-sizing: content-box;
    margin: 30px 0px;
}
